Roman Danyliw's review

https://mailarchive.ietf.org/arch/msg/lake/alBWh_cyhMnPA6FcGQM5YWs8w9A/

----------------------------------------------------------------------
DISCUSS:
----------------------------------------------------------------------

** Section 3.5.2
When the identified credential is a
   chain or a bag, the authentication credential CRED_x is just the end
   entity X.509 or C509 certificate / CWT.

Per Section 2 of RFC9360, the x5bag claim is:

"This header parameter contains a bag of X.509 certificates. The set of
certificates in this header parameter is unordered and may contain self-signed
certificates. Note that there could be duplicating certificates. The
certificate bag can contain certificates which are completely extraneous to the
message."

How does one pick-out the “end entity” if the list contains self-signed or
extraneous certificates?


----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

Thank you to Radia Perlman for the SECDIR review.

** Section 3.4.
   EDHOC is not bound to a particular transport layer and can
   even be used in environments without IP.

Is there a minimum transport PDU for EDHOC? That is, if too small, EDHOC would
fragment and eliminate all of the design benefits of limited round trips?

** Section 3.5.2
   It is RECOMMENDED that the COSE 'kid' parameter, when used to
   identify the authentication credential, refers to a specific
   encoding.

In what way does the “kid” claim convey a “specific encoding”?

** Section 7.  This section seems to be discussing how EDHOC implementations
handle message duplication.  However, Section 3.4 says that “… the transport is
responsible … to handle … message duplication”.  Is it a transport requirement
or not to handle duplication?

** Section 9.4
   Symmetric algorithms used in EDHOC such as SHA-256 and AES-CCM-
   16-64-128 are practically secure against even large quantum
   computers.

Could “AES-CCM-16-16-128” being “practically secure” be better explained or
cited.

** Section 9.6.
   Implementations and users SHOULD consider
   these threat models.

What does a normative “SHOULD” to “consider” a threat model mean?

** Section 9.7
EDHOC itself does not provide countermeasures against Denial-of-
   Service attacks.
...
To
   mitigate such attacks, an implementation SHOULD rely on lower layer
   mechanisms.

What is the intent of this normative guidance?  If EDHOC doesn’t have DoS
protection, what is the alternative relying on a lower level (stated as a
SHOULD here)?  Is it an application mechanism?

** Section 9.8
   NIST
   generally forbids deriving secret and non-secret randomness from the
   same KDF instance,

Can the basis of this prohibition be cited?

** Section 9.8.

   Implementations might consider deriving secret and non-secret
   randomness from different PRNG/PRF/KDF instances to limit the damage
   if the PRNG/PRF/KDF turns out to be fundamentally broken.
   ...

I’m confused on the position this entire paragraph is taking.  It’s framed as
“might consider.” It then describes that there is conflicting advice from NIST
and [HKDFpaper].  Either removing this text or state an explicit position.

** Section 9.8
   Verification of validity may require the use of a Real-Time Clock
   (RTC).  The private authentication keys MUST be kept secret, only the
   Responder SHALL have access to the Responder's private authentication
   key and only the Initiator SHALL have access to the Initiator's
   private authentication key.

Can the link between the two sentences in this paragraph be clarified?  How is
the need for a clock connected to keeping the authentication keys secret?


Regarding x5bag:

As you already noticed, x5bag is defined by RFC 9360. When using x5bag in COSE without EDHOC the endpoint already have to find the end entity certificate. The key in the end entity cert is need to process the COSE message. EDHOC does not add any requirements beyond what COSE already requires. My understanding is that the Certificate Message in TLS can also be a bag.

We agree that processing a bag adds complexity that are not well suited for constrained IoT devices. In the worst case I assume you might end-up with several potential end entity certificates and you have to try several to find the correct one.

As EDHOC does not add any additional requirements on top of COSE I don't thing it makes sense to detail bag processing in the EDHOC specification. Given the problems for constrained IoT devices and bag, I suggest added a few sentences describing the problems with bag and a recommendation of using chain.

>Could “AES-CCM-16-16-128” being “practically secure” be better explained or
>cited.
>Can the basis of this prohibition be cited?

Yes. Good to add references to NIST in both of these cases.

> ** Section 9.6.
> Implementations and users SHOULD consider
> these threat models.
> 
> What does a normative “SHOULD” to “consider” a threat model mean?
> 

Removed the normative SHOULD and reformulated to:
Implementations and users should take these threat models into account and consider actions to reduce tracking by other endpoints.


> ** Section 9.8
> Verification of validity may require the use of a Real-Time Clock
> (RTC). The private authentication keys MUST be kept secret, only the
> Responder SHALL have access to the Responder's private authentication
> key and only the Initiator SHALL have access to the Initiator's
> private authentication key.
> 
> Can the link between the two sentences in this paragraph be clarified? How is
> the need for a clock connected to keeping the authentication keys secret?

There is not link between them. I moved the two sentences to two other paragraphs were they fit nicely.

> ** Section 9.8
> NIST
> generally forbids deriving secret and non-secret randomness from the
> same KDF instance,
> 
> Can the basis of this prohibition be cited?

I provided a lot of comments to NIST SP 800-108 which led to NIST updating that specification.
https://csrc.nist.gov/files/pubs/sp/800/108/r1/final/docs/sp800-108r1-draft-comments-resolutions.pdf

SP 800-108 now aligns with [HKDFpaper] in that a secure KDF needs to handle non-secret information as well. I added references to both 800-56A and 800-108 to capture this. I also moved the paragraph to "cryptographic considerations" as this is not implementation considerations.



> 
> ** Section 9.8.
> 
> Implementations might consider deriving secret and non-secret
> randomness from different PRNG/PRF/KDF instances to limit the damage
> if the PRNG/PRF/KDF turns out to be fundamentally broken.
> ...
> 
> I’m confused on the position this entire paragraph is taking. It’s framed as
> “might consider.” It then describes that there is conflicting advice from NIST
> and [HKDFpaper]. Either removing this text or state an explicit position.

I am fine with removing the text. I don't think there a taking a position that implementations should do this is appropriate. And if taking a stance that it does not need to be done the sentence fills not purpose.


> ** Section 3.4.
EDHOC is not bound to a particular transport layer and can
even be used in environments without IP.
>
> Is there a minimum transport PDU for EDHOC? That is, if too small, EDHOC would
fragment and eliminate all of the design benefits of limited round trips?

Fragmentation can occur on different layers and the effect of fragmentation depends on technology. For radio links, like LoRAWAN with duty cycle in some regions the penalty of splitting a message is large. For cellular IoT, like NB-IoT there are less visible threshold effects, more a gradual decrease of characteristics with increasing message size. But there are lots of other effects to consider. For example, the probability and effects of bit errors. which in turn depends on message size since a larger message has a higher probability for error. Considering these types of effects it may be difficult to specify a minimum PDU with the properties you request. In the requirements phase (draft-ietf-lake-reqs-04) we looked at deployments of NB-IoT, 6TiSCH and LoRaWAN. Even for this small set of technologies, there are a number of assumptions to make. What we did find in this work was that with messages of size of 45 bytes and less, common deployments of these radio technologies exhibit good performance, and that this size is achievable with CBOR, COSE and CoAP.


> ** Section 3.5.2
It is RECOMMENDED that the COSE 'kid' parameter, when used to
identify the authentication credential, refers to a specific
encoding.
>
> In what way does the “kid” claim convey a “specific encoding”?

Referring to specific encoding of authentication credential specified in the application profile. Attempted clarification at the end of this commit: https://github.com/lake-wg/edhoc/pull/426/commits/f936bb6e8

> ** Section 7. This section seems to be discussing how EDHOC implementations
handle message duplication. However, Section 3.4 says that “… the transport is
responsible … to handle … message duplication”. 
>
> Is it a transport requirement
or not to handle duplication?

See response to Martin Duke's review
https://mailarchive.ietf.org/arch/msg/lake/wuoYFmItMlbtNMYzHDH1ZAOHlno/
and proposed update of section 3.4 in #429


> 

What could be stated is that 45 bytes is needed to avoid fragmentation. Even with fragmentation the design benefits of having small messages are significant.