EDHOC: be a bit more precise on encoding

Druing the discussion on invalid traces it has been suggested that the text on deterministic CBOR encoding and Representation of Byte String Identifiers could be improved. I.e. no technical changes and very much in scope for AUTH48 improvements.

Marco pointed out that the text on deterministic encoding is spread out and that more details could be added in section 3.1 and 3.5.3.

> 
> I think it is better to refer to Section 3.1 of -lake-edhoc (instead of Section 1.4).
> 
> That's where deterministic encoding is mentioned as a property of the protocol (emphasis mine):
> 
> All EDHOC messages are CBOR Sequences [[RFC8742](https://www.rfc-editor.org/info/rfc8742)], and are deterministically encoded.
> 
> while Section 1.4 is more about terminology and language for the document (emphasis mine):
> 
> When referring to CBOR, this specification always refers to Deterministically Encoded CBOR as specified in Sections 4.2.1 and 4.2.2 of [[RFC8949](https://www.rfc-editor.org/info/rfc8949)].

> 
> Instead of Section 1.4 of -lake-edhoc, I think it is better to refer to both Sections 3.1 (as mentioning deterministic encoding) and Section 3.5.3 (as talking about ID_CRED_X and its encoding).
> 
> Note that Section 3.5.3 is not explicitly saying that the CBOR map encoding ID_CRED_X has to be deterministically encoded; it is just silently inheriting that requirement from Section 3.1.
> 
> Is it worth adding an explicit reminder in Section 3.5.3 in -lake-edhoc? Such a reminder is in fact present in Section 3.5.2 when discussing authentication credentials instead.

Also is the reference to 4.2.2 needed? I think 4.2.1 is enough.




I think it could be clearer in the EDHOC specification exactly which bytestrings are encoded as integers according to Section 3.3.2 and which are not.

To complement, I was specifically thinking of the order of the map keys in the ID_CRED_X CBOR map, when this has more than one element like in the newly added invalid message in -lake-traces.

Based on that invalid message, my interpretation was that, if ID_CRED_X includes multiple elements, those have to be lexicographically ordered, just like it is expected also for authentication credentials. That should actually involve also Section 4.2.3 of RFC 8949.

When would 4.2.3 be involved? 4.2.3 and 4.2.1 are not compatible. My current view would be that 4.2.3 must not be used.

>just like it is expected also for authentication credentials
Is the sorting order for CCS and CWT specified somewhere?

Please scratch the suggestion about 4.2.3 of RFC 8949.

On the sorting of map keys in CCS and CWT used as credentials, maybe I misinterpret the content of Section 3.5.2 of -lake-edhoc. It suggests the use of lexicographic order of CBOR based credentials specifically in case of their possible re-encoding (if this has to happen for some reason), and it also shows a consistent example of CCS.

If we consider the use of deterministic encoding mentioned in Sections 1.4 and 3.1, does it generally apply also to CBOR based credentials as they are when originally issued (i..e, without any possible re-encoding)? I thought so, since those credentials might be transported by value in ID_CRED_X (technically in PLAINTEXT_X), where deterministic encoding is also expected to be used.

Need to read again, but CRED_x (3.5.2) and ID_CRED_X (3.5.3) are different things. Not sure we do or should say something about how header parameter values are encoded.

more details on deterministic encoding of CCS in section 3.5.2 should be added. This is not clear.

Should we have some requirement on the header parameter value encoding in kccs?
It is clear that you need to sort before using as CRED_x, but my understanding is that the draft does not say that the kccs value needs to be deterministically encoded. Maybe it should.

Hi,

While working on invalid test vectors with the implementors it has been suggested by Marco that explicit reminders about deterministic CBOR should be added in e.g., 3.5.3 of the EDHOC specification. I agree that this is a good idea.

Background:

- Section 1.4 states
"When referring to CBOR, this specification always refers to Deterministically Encoded CBOR as specified in Sections 4.2.1 and 4.2.2 of [RFC8949]."
- Section 3.1 states
"All EDHOC messages are CBOR Sequences [RFC8742], and are deterministically encoded."
- Section 3.5.2 states
"If for some reason re-encoding of the authentication credential may
occur, then a potential common encoding for CBOR based credentials is
bytewise lexicographic order of their deterministic encodings as
specified in Section 4.2.1 of [RFC8949]."
- Section 9 states
"It is RECOMMENDED to abort the EDHOC session if the
received EDHOC message is not encoded using deterministic CBOR."


Some notes and thoughts:

- The sentence in 3.1 should be changed to "encoded using deterministic encoded CBOR as specified in Section 4.2.1 of [RFC8949]." With randomized algorithms, EDHOC is not deterministic.
- I don't think 4.2.2 of [RFC8949] is relevant for EDHOC. I suggest only refering to 4.2.1. Stating that 4.2.2. is not relevant and that 4.2.3 shall not be used.
- Deterministic CBOR encoding affects all integers and all maps. Maps occur in ID_CRED_x and CRED_x.
- I note that there is no normative RFC2119 terms to use deterministic CBOR, but there is a SHOULD abort. This is a bit strange.
- The reason deterministic CBOR was introduces was to limit an attackers possibilities in the case the hash funtion has weaknesses. Does deterministic encoding cause implementation complexity? Not sure it makes sense to mandate if the ECDSA signatures are randomized anyway.
- It is not clear when a CCS is deterministicly encoded. That should be fixed. My understanding is
- EDHOC does not mandate deterministic encoding of the kccs value
- When receiving a kccs the kccs value is used as CRED_x without reencoding.
- When identifying a CCS with a kid and there is risk for different encodings, both sides need to encode deterministically.

Happy with any thought, feedback, and suggestions on this topic.

Cheers,
John

I think you are getting into this discussion only because the traces document presents values in diag format that could potentially be encoded in different ways.  It most cases, (all I think, but I'm not certain) the encoded thing is what is signed, so it does not matter.  It does matter, at the document level, that multiple parties can come up with the same encoding as the author of the document: so don't use BIGINT to encode 1.


> It most cases, (all I think, but I'm not certain) the encoded thing is what is signed, so it does not matter. 

Yes. One discussion with one of the teams doing formal verification was that non-deterministic encoding of some fields in message_1 could increase the capability of the attacker when the hash function turned out to be broken. I will read up on that discussion and see if we should add something in the security considerations about that.

Most CBOR encoders will probably not use indefinate length arrays and maps, and will probable use the prefered way to encode arguments in integers, arrays, and maps.

The order or things in maps is not so very important as by default there will only be one key in the ID_CRED_x map


A lot of the discussion was here:

https://github.com/lake-wg/edhoc/issues/271

This following seems to have been forgotten:

> The issue is when the attacker can give an element h to the responder such that h^y will be a predictable constant. This occurs both with the identity element, as well as some low-order points over the curves.
> 
>     EDHOC implementations are already required to check that the ephemeral public keys are not the identity element, see Section 8.2 of the EDHOC specification.
> 
> What I found in section 8.2 is "Requirements for how to securely generate, validate, and process the ephemeral public keys depend on the elliptic curve. For X25519 and X448, the requirements are defined in {{RFC7748}}. For secp256r1, secp384r1, and secp521r1, the requirements are defined in Section 5 of {{SP-800-56A}}. For secp256r1, secp384r1, and secp521r1, at least partial public-key validation MUST be done.". I don't think this is enough to clearly forbid such behaviors. Maybe the mentioned specs do enforce an identity check, but they only mention as an optional feature to check for low-order points, which are also an issue.
> 
> From [RFC7748], the interesting bit is the following one:
> "Protocol designers using Diffie-Hellman over the curves defined in this document must not assume "contributory behaviour". Specially, contributory behaviour means that both parties' private keys contribute to the resulting shared key. Since curve25519 and curve448 have cofactors of 8 and 4 (respectively), an input point of small order will eliminate any contribution from the other party's private key. This situation can be detected by checking for the all-zero output, which implementations MAY do, as specified in [Section 6](https://datatracker.ietf.org/doc/html/rfc7748#section-6). However, a large number of existing implementations do not do this."
> 
> This part only specifies "MAY", which should become a MUST in our setting.

1. Should we mandate checking for the all-zero output when using Curve25519?
2. As currently written the point validation only applies to ephemeral public keys. Should it apply to public keys used for authentication as well.

Thoughts? @charlie-j ?

The all-zero check is trivial to implement so adding a SHOULD or MUST would not be a big problem.

My preference would be yes on both 1 and 2 to be on the safe side.


      


The PR #446 has been sent to the RFC editor.