Traces: References on validating coordinates

In draft-ietf-lake-traces-07, Section 4.2.4 "Curve point of low order" says:

> Curve25519 point of low order which fails the all-zero output check. Requirement to perform the all-zero output check according to Section 9.2 of [I-D.ietf-lake-edhoc].

Like done in the previous Sections 4.2.1 and 4.2.2, the sentence can be extended with one additional, specific reference, i.e.:

> Curve25519 point of low order which fails the all-zero output check. Requirement to perform the all-zero output check according to Section 9.2 of [I-D.ietf-lake-edhoc] and Section 6.1 of [RFC7748].

Addressed in c611c60f:

> Curve25519 point of low order which fails the check for all-zero output according to Section 9.2 of {{I-D.ietf-lake-edhoc}}.

Reference to section 6 of RFC 7748 is instead made in Section 9.2 of EDHOC, see PR #446.

Close as completed.