Traces: IESG Murray Kucherawy's comments

I don't think you want [BCP 14](https://datatracker.ietf.org/doc/bcp14/) here.  The solitary "MUST" you do have is actually citing another document; this one is Informational and not actually stating any of its own requirements.  I'd suggest removing the [BCP 14](https://datatracker.ietf.org/doc/bcp14/) references and the matching boilerplate, but quote the "MUST" or even just say that document "requires" (lowercase) something specific.

This was added based on the INTDIR review. I agree with INTDIR that we need BCP 14. There is a MUST NOT that is not citing another document.

> The keys printed in these examples cannot be considered secret and MUST NOT be used.

Agree with Murray that we should reformulate the cited MUST.

> Correct is the deterministic encoding 03 according to Section 3.1 of [I-D.ietf-lake-edhoc] and Section 4.2.1 of [RFC8949], which states that the arguments for integers, lengths in major types 2 through 5, and tags MUST be as short as possible.

Closed as completed.