EDHOC: clarifications on check for the all-zero value

In draft-ietf-lake-edhoc-22, Section 9.2 "Cryptographic Considerations" says:

> Requirements for how to securely generate, validate, and process the ephemeral public keys depend on the elliptic curve. For X25519 and X448, the requirements are defined in [RFC7748].

* The second sentence can be expanded to include more precise pointers, i.e.:

   > For X25519 and X448, the requirements are defined in Sections 6.1 and 6.2 of [RFC7748], respectively.

* Even if one follows those pointers, it's not fully clear which exact checks to perform and how. Quoting Section 6.1 of RFC 7748 about Curve 25519:

   > The check for the all-zero value results from the fact that the X25519 function produces that value if it operates on an input corresponding to a point with small order, where the order divides the cofactor of the curve (see Section 7). The check may be performed by ORing all the bytes together and checking whether the result is zero, as this eliminates standard side-channels in software implementations.

   The second sentence suggests that one computes the shared secret anyway, and then aborts if the result is all zero (based on a safe check that relies on consecutive ORing steps).

   However, the first paragraph suggests that one might (or should?) check first of all the considered input values, i.e., whether they "correspond to a point with small order, where the order divides the cofactor of the curve". Then, the later Section 7 of RFC 7748 mentions the cofactor values 8 and 4 for the two curves. At that point, one can imagine to perform this check by checking the remainder of the division between each input value and the cofactor value for the used curve.

   That said, could Section 9.2 of draft-ietf-lake-edhoc give a high-level clarification of which exact checks have to be done and a method for doing that? (of course keeping the reference to RFC 7748 for completeness)


The same reasoning above would call for additional references and high-level clarification of required checks also for the immediately following sentence about ECDSA, i.e.:

> For secp256r1, secp384r1, and secp521r1, the requirements are defined in Section 5 of [SP-800-56A].

This should probably be a comment on PR 446 instead.
https://github.com/lake-wg/edhoc/pull/446

I made some smaller changes based on this issue. Current suggestion is

> For X25519 and X448, checking for the all-zero output, as specified in {{RFC7748}}, MUST be done.

Hesitant to provide any more detailed references. The easy way to do this is to check the output, but imlementation are of course free to check the input instead with a black list of invalid points (they are just a handful). Some implementations do that.

Using "checking for the all-zero output" from RFC 7748. In theory I would like to have some more general formulation but I don't really want to talk about input point of small order.... 



Close as completed.