What exactly is ERR_MSG and how to distinguish a regular message from an error message

E.g. when the initiator receives a message after message 1 -> this message can be message 2 or an error message.
message 2 :

```
message_2 = (
     data_2,
     CIPHERTEXT_2 : bstr,
   )
   
      data_2 = (
     ? C_I : bstr_identifier,
     G_Y : bstr,
     C_R : bstr_identifier,
   )
```

error message:

```
   error = (
     ? C_x : bstr_identifier,
     ERR_MSG : tstr,
     ? SUITES_R : [ supported : 2* suite ] / suite,
   )
```

A possible mechanism to distinguish between both is to use ERR_MSG. Is ERR_MSG something that has to be defined by the protocol implementer or something provided by the user?

What is the recommended way to distinguish between error messages and regular messages?

A test vector with an error message will be very helpful for EDHOC implementors


Yes, the error message has a mandatory text string as first or second field, which is different from normal messages. See proposed formulation in e0d85f95.

Agree, test vectors needs to be added.

I am still confused. Here are my questions:

1) Is there an additional purpose for ERR_MSG than only to distinguish regular messages from error messages? 
2) Is ERR_MSG something which the EDHOC implementer defines? If this is the case the content of ERR_MSG cannot be processed automatically because interoperability between different implementations cannot be achieved? 
3) Let say my EDHOC implementation receives ERR_MSG form a different EDHOC implementation. What should I do with that? Should I provide ERR_MSG to the application? 
4) Section 5.5.2 in RFC7252 says:

   If no Content-Format option is given, the payload of responses
   indicating a client or server error is a brief human-readable
   diagnostic message, explaining the error situation.  This diagnostic
   message MUST be encoded using UTF-8 [RFC3629], more specifically
   using Net-Unicode form [RFC5198].

   The message is similar to the Reason-Phrase on an HTTP status line.
   It is not intended for end users but for software engineers that
   during debugging need to interpret it in the context of the present,
   English-language specification; therefore, no mechanism for language
   tagging is needed or provided.  In contrast to what is usual in HTTP,
   the payload SHOULD be empty if there is no additional information
   beyond the Response Code.
   
I don't understand how to interpret the second paragraph in the context of EDHOC. Can you give us some examples? 

From my perspective, it is important and sufficient that the error message and a regular message are distinguishable. 

In that case, if an error message is received the edhoc implementation can notice that, discontinue the protocol and provide the error message to the caller (application). Then the application has to handle the error. This is the easiest and most simple way from the implementation perspective.

Additionally, it will be nice to have some guidance about which are the cases where an error message may be sent. Are there cases where an error message must definitively be send, e.g. during the suite negotiation?

The specification was updated based on Stefans comments in -04. No more comments has been received. I therefore close this issue.

A related but different issue has been opened in #74 